*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-ExtraBold.ttf);
    font-weight: bold;
}

html {
    background: #414042;
}

body {
    font: 17px "Poppins";
    color: #414042;
    background: #f9f9f9;
    box-sizing: border-box;
    margin: 0;
    padding: 70px 0px 0px 0px;
    width: 100%;
}

body > header {
    height: 70px;
    width: 100%;
    background: #4682B4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    padding: 0 30px;
}


article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    padding: 10px 0;
    color: #4682B4;
}

article h1 {
    margin: 0;
    font-size: 2.3em;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 4px solid #B22222;
    width: max-content;
}

article h2 {
    font-size: 2em;
}    

article header {
    padding-bottom: 50px;
} 

article section p {
    margin-bottom: 1.5em;
    line-height: 1.8em;
}

article section a {
    color: #4682B4;
}

article {
    max-width: 960px;
    padding: 50px 50px 10px 50px;
    margin: 0 auto;
}

.ubytko {
    padding-top: 50px;
}

.avatar {
    float: right;
    width: 300px;
    padding-left: 10px;
    filter: grayscale();
}

.centrovany{
    text-align: center;
}

.cistic {
    clear: both;
}

.reference-tlacitko {
    background: #70b73a;
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 25px;
}

.kontakt-tlacitko{
    background: #B22222;
    padding: 10px 20px;
    border-radius: 20px;
}

.kontakt-tlacitko:hover,

.reference-tlacitko:hover {
    filter: brightness(115%) contrast(85%);
    border: 0;
}

.vlevo{
    float: right;
}

.vanoce {
    color: #B22222;
    font-weight: bold;
}

.silvestr {
    color: #B22222;
    font-weight: bold;
}
.kontakt {
   padding-bottom: 30px;
}


#logo {
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 40px 40px;
    cursor: pointer;
}

#logo > *{
    margin: 0 0 0 40px;
}

#logo h1 {
    font-weight: normal;
    font-size: 1.7em;
    line-height: 1.2em;
    color: white;
}

#logo h1 span {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #3d3d3d;
}

#logo small {
    text-transform: uppercase;
    font-size: 0.85em;
}

#cena_pokoj{
    border-collapse: collapse;
}
#cena_pokoj td{
    width: 33%;
    padding: 10px;
    vertical-align: top;
    text-align: center;
    border: 1px solid gray;
}

#cena_chalupa{
    border-collapse: collapse;
}
#cena_chalupa td{
    width: 33%;
    padding: 10px;
    vertical-align: top;
    border: 1px solid gray;
}

#chalupa img{
    border: 1px solid gray;
    padding: 6px;
    box-shadow: 2px 2px 3px #999999;
    margin-right: 6px;
}

#chalupa a{
    text-decoration: none;
}

#chalupa a:hover{
    text-decoration: none;
}


nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li {
    padding: 0 25px;
    margin: 0 5px;
    font-size: 1em;
    line-height: 4.3em;
}

nav ul a {
    color: white;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
  }

nav ul a:hover, .aktivni a {
    border-bottom: 2px solid #B22222;
}

.welcome {
    background-image: url(../img/chalupa_v_zime.JPEG);
    height: 550px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

footer {
    box-sizing: border-box;
    text-align: center;
    height: 100px;
    color: white;
    background: #414042;
    padding: 50px 0 0 0;
    clip-path: polygon(0 30px, 100% 0, 100% 105%, 0 105%);
}

footer a {
    color: white;
    text-decoration: none;
}


#hamburger {
    display: none;
    align-self: center;
    width: 30px;
    height: 22px;
    margin: 0 50px 0 0;
    cursor: pointer;
    position: relative;
}

#hamburger::before,
#hamburger::after,
#hamburger div {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: white;
    left: 0;
    transition: 0.3s;
}

#hamburger::before {
    top: 0;
}

#hamburger div {
    top: 9px;
}

#hamburger::after {
    bottom: 0;
}

@media (max-width: 768px) {
    body {
        padding-top:60px;
    }
    body > header {
        flex-direction: row;
        height: auto;
        align-items: flex-start;
        padding: 20px 15px;
        justify-content: space-between; 
        padding: 15px;
    }
    nav ul {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    nav ul li {
        padding: 5px 10px;
        margin: 3px 3px;
        line-height: 1.8em;
    }
    article h1 {
    width: auto;           /* Zrušení max-content, aby se text mohl zalamovat */
    font-size: 1.6em;      /* Zmenšení písma pro mobilní displeje */
    word-wrap: break-word; /* Zalomení dlouhých slov */
    }
    article {
        padding: 20px 20px 20px 20px; /* Menší padding na mobilu */
    }
    article ul{
        padding: 0 0 0 30px; /* Menší padding na mobilu */
    }
    #hamburger {
    display: block;
    }
    nav {
        width: 100%;
        display: none;
    }
    nav.open {
        display: block;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
    }
    nav ul li {
        width: 100%;
        text-align: left;
        padding: 10px 30px
    }
   .welcome {
    height: 300px;             /* Snížení výšky, aby vynikl obsah pod tím */
    background-image: url(../img/chalupa_v_zime.JPEG);
    background-attachment: scroll; /* Vypnutí fixního pozadí (pro lepší podporu na mobilech) */
    background-position: center center; /* Přesné centrování */
    }
}

/* Skrytí loga, pokud header obsahuje otevřenou navigaci */
body > header:has(nav.open) #logo {
    display: none;
}

/* Zarovnání navigace doprava, pokud je otevřená */
body > header:has(nav.open) {
    justify-content: flex-end;
}

/* Styly pro přepínač jazyka */
.lang-switch {
    font-size: 0.9em;
    opacity: 0.9;
}

.lang-switch a {
    padding: 0 6px;
    text-decoration: none;
    color: white;
}

.lang-switch a.active {
    border-bottom: 2px solid #B22222;
    font-weight: bold;
}

#logo-link {
    text-decoration: none;
    color: inherit;
}